body {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

h1 {
    color: #000;
    align-items: center;
}

p {
    color: #555;
}

img {
    inline-size: fit-content;
    align-self: center;
}

.monkey-container {
    display: flex;
    flex-direction: column;
}

.monkey-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}